
<h1>User's List</h1>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<p><a href="users/new">New User.</a></p>
<div class="card-group">
  <% @all_user.each do |user| %>
  <div class="card.px-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-header"><%= user.username %></h5>
      <h5 class="card-header"><%= user.email %></h5>
      <h5 class="card-header"><%= user.bio %></h5>
    </div>
  </div>

  <% end %>
</div>

